@import 'tailwindcss';
@import './tokens.css';
@import './fonts.css';
@import './base.css';
@import './components.css';
@import './utilities.css';
@import './animations.css';

.svelte-root {
	display: contents;
}
