@layer base {
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/inter-v20-latin-regular.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/inter-v20-latin-500.woff2') format('woff2');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/inter-v20-latin-600.woff2') format('woff2');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/inter-v20-latin-700.woff2') format('woff2');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Space Grotesk';
		src: url('/fonts/space-grotesk-v22-latin-regular.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Space Grotesk';
		src: url('/fonts/space-grotesk-v22-latin-500.woff2') format('woff2');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Space Grotesk';
		src: url('/fonts/space-grotesk-v22-latin-600.woff2') format('woff2');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Space Grotesk';
		src: url('/fonts/space-grotesk-v22-latin-700.woff2') format('woff2');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}


	@font-face {
		font-family: 'Fraunces';
		src: url('/fonts/fraunces-variable-latin.woff2') format('woff2');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}
}